body{
    background-color: #000;
}
.secao-01{
    background-image: url(/assets/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 605px;
    padding:140px;
    margin:auto auto;
   

}
.header{
    text-align: center;
}
.titulo{
    margin-top:43px;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    color:#33A8DB;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo-css{
    width: 248px;
    height: 214px;
    flex-shrink: 0;
    background: url(/assets/logo.png),black 50% / cover no-repeat;
   
}
.paragrafo{
    margin-top:16px;
    width: 510px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.botao-inscricao{
    display: flex;
    margin-top:24px;
    margin-left:auto;
    margin-right:auto;
    width: 326px;
    padding: 19px 91px;
    justify-content: center;
    align-items: center;
    border: 2px solid #3BA1CD;
}
.botao-inscricao{
    color: #31A8DD;
    text-transform: uppercase;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.36px;
}
.titulo-02{
    color: #33A8DB;
    text-transform: uppercase;
    text-align: center;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.08px;
}
.titulo-02{
    margin-top:118px;
}
.paragrafo-02{
    width: 792px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top:24px;
    
}
.container-02{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-03{
    color: #33A8DB;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.paragrafo-03{
    color: #FFF;
    font-family: Raleway;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
  line-height: normal;

}
.botao-01{
    display: flex;
    width: 535px;
    padding: 16px 127px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top:24px;
    margin-left: auto;
    margin-right: auto;
}
.botao-01{
    border-radius: 57px;
    border: 1px solid #33A8DB;
    background: #252525;
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
}
.titulo-04{
    color: #33A8DB;
   font-family: Raleway;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}
.paragrafo-04{
    color: #FFF;
   font-family: Raleway;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}
.botao-02{
    display: flex;
    width: 535px;
    padding: 16px 127px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin-top: 24px;
   margin-left: auto;
   margin-right: auto;
}
.botao-02{
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
    border-radius: 57px;
    border: 1px solid #33A8DB;
    background: #252525;
}
.titulo-05{
    color: #33A8DB;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.paragrafo-05{
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
   font-weight: 400;
   line-height: normal;
}
.botao-03{
   display: flex;
   width: 535px;
   padding: 16px 127px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin-top: 24px;
   margin-left: auto;
   margin-right: auto;
}
.botao-03{
    border-radius: 57px;
   border: 1px solid #33A8DB;
   background: #252525;
   /* Shadow Effect */
   box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
}